

//- //- format for data passed in form layout
//- //- gameInfo
//- //-   gameInfo.title
//- //-   gameInfo.snippet
//- //-   gameInfo.logo
//- //-   gameInfo.comments
//- //-   gameInfo.genre
//- //-   gameInfo.votes
//- //-   gameInfo.publisher




mixin gameFeedList(gameInfo)
  div(class='game-container')
      div(class='game__info-wrapper')
          div(class='game__info__logo-wrapper')
              a(class='game__logo-parent' href='/' + "games/" + gameInfo.id)
                  img(class='game__logo' src=gameInfo.imageUrl)
              div(class='game__info__middle-wrapper')
                h3(class='game__info__text-title') #{gameInfo.title}
                h4(class='game__info__text-snippet') #{gameInfo.snippet}
                div(class='game__info__footer-wrapper')
                  div(class='game__info__comment-outer')
                    a(id='comment__icon-wrapper' href='/' + "games/" + gameInfo.id)
                      img(class='comment__icon' src='https://image.pngaaa.com/845/1627845-middle.png')
                    a(id='comment__icon-wrapper' href='/' + "games/" + gameInfo.id)
                      span(class='comment__word') #{gameInfo.comments} #{gameComments[gameInfo.id] || 0}
                  span(class='game__info__footer-genre') #{gameInfo.genre}
                  span(class='game__info__footer-publisher') #{gameInfo.publisher}
              div(class='game__votes-wrapper')
                  button(class='game__vote-button' value=gameInfo.id)
                    span(class='game__votes-icon-wrapper')
                      span(class='vote__count' id=`vote__count-id${gameInfo.id}`) #{gameVotes[gameInfo.id] || 0}
                      div(class='triangle__icon') ▲
