extends layout

append head
	link(rel="stylesheet" href="/stylesheets/game.css")
	script(src="/javascripts/game.js" type="module" defer)

block content
	div.title
		h1= game.title
	div.genre
		p= game.genre
	div.gameImg
		img(src=game.imageUrl)
	div.textCollection
		div.publisher
			h2 Publisher: #{game.publisher}
		div.snippet
			p= game.snippet
		div.description
			p= game.description

	div.errors-container
		ul#errors-ul
	textarea(class="comment-content" placeholder="Write your comment here...")
	button(id="post-comment-button" type="submit") Post Comment
	div.comment-container
		each comment in comments
			div.comment-content-and-buttons
				div.comment= comment.content
				button(class="edit" value=comment.id) Edit
				button(class="delete" value=comment.id) Delete
